<app-navbar></app-navbar>

<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header bg-success  ">
            <h5 class="text-center text-white ">Listado de Usuarios</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Pais:</th>
                    <th scope="col">Profesión:</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios" >
                    <th>{{usuario.id}} </th>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.pais}}</td>
                    <td>{{usuario.profesion}}</td>
                    <td> <i class="fas fa-search-plus" (click)="verMas(usuario)" [routerLink]="['/posts', usuario.id]"
                      ></i></td>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>
</div>