<app-navbar></app-navbar>

<div class="container-fluid ">
   <div class="row">
       <div class="col-md-6 offset-md-3">
        <div class="card mt-4">
            <div class="card-header bg-success  ">
                <h5 class="text-center text-white ">Usuario Seleccionado</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="titulo"> El usuario que elegiste tiene el id: <b>{{seleccionado}}</b> </p>
                        <div class="d-grid gap-2 col-2 mx-auto">
                            <button routerLink="/" class="btn btn-primary d-flex justify-content-center">Regresar</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
   </div>
</div>